<div class="container">
	<mat-toolbar >
		<span id="menuH">Menu</span>
	</mat-toolbar>
	<a href="https://github.com/VNA818/world-search/" mat-button>
		<mat-icon>home</mat-icon>
		Home
	</a>
	<mat-divider></mat-divider>
	<a href="https://github.com/VNA818/world-search/blob/main/README.md" target="_blank" mat-button>
		<mat-icon>help</mat-icon>
		About
	</a>
	<mat-divider></mat-divider>
	<a href="https://github.com/VNA818/world-search" target="_blank" mat-button>
		<mat-icon>code</mat-icon>
		Repository
	</a>
	<mat-divider></mat-divider>
	<p id="cr">2020-2022 VNA</p>
</div>
