<body>
  <mat-sidenav-container class="sidenavContainer">
    <mat-sidenav #menu mode="over">
      <app-menu></app-menu>
    </mat-sidenav>
  <mat-sidenav #history position="end" mode="over">
    <app-history (historyLoad)="historyLoad($event)" [data]="historyData"></app-history>
  </mat-sidenav>
  <mat-sidenav-content>
  <div id="header">
    <app-toolbar [history]="history" [menu]="menu"></app-toolbar>
  </div>
  <div id="content">
    <div (click)="hn()" id="hn"></div>
    <app-street-view #pano ></app-street-view>
    <app-map #map (mapSelect)="mapSelect($event)"></app-map>
  </div>
  <app-action-bar [selectedLocation]="selectedLocation" [distance]="distance" (newClick)="newLocation()" (guessClick)="guess()" (rthClick)="rth()" (shareClick)="share()"></app-action-bar>
</mat-sidenav-content>
</mat-sidenav-container>
</body>

