#action-bar {
	position: absolute;
	z-index: 5;
	top: 57%;
	right: 0;
	margin-left: 15px;
	/* collapsed width: 40px;*/
	max-height: 100%;
	padding: 10px;
	background-color: white;
	/*transition: max-width 0.75s, max-height 1s;*/
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
}

.action-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

#action-bar-content {
	flex-wrap: wrap;
}

::ng-deep #collapse {
	color: var(--text-primary-color);
}

.collapse {
	white-space: nowrap;
    overflow: hidden;
    max-width: 1px;
}

.collapse2 {
    flex-wrap: nowrap !important;
}

#score {
    transform:translateY(25%);
    flex-grow: 1;
    text-align: center;
}